.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #292929;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-logo .nav-title {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: text-decoration 0.2s ease;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
}

.nav-button:hover {
  text-decoration: underline;
}
.nav-link.active {
  font-weight: bold;
  color: #f7f700ab; /* Bootstrap primary blue */
  border-bottom: 2px solid #f7f700ab;
}